nav.pagination {
  width: 60%;
  font-size: 125%;
  margin: 0 auto;
  word-spacing: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  span{
    margin: 0 10px;

    a:hover{
      background-color: #ff9872;
      border-radius: 15px;
      margin: 0 -10px;
      padding: 0 10px;
      text-decoration: none;
      color: white;
    }

    &.current {
      color: white;
      background-color: #93c9ff;
      border-radius: 15px;
      margin: 0px;
      padding: 0 10px;
    }
  }
}

